<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jspProjectt</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
   
  </welcome-file-list>
  <context-param>
  <param-name>phone</param-name>
  <param-value>9875697854</param-value>
  </context-param>
  
  
  <servlet>
  <servlet-name>a</servlet-name>
  <jsp-file>/A.jsp</jsp-file>
  <init-param>
  <param-name>email</param-name>
  <param-value>mmmm@gmail.com</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>a</servlet-name>
  <url-pattern>/Modi</url-pattern>
  </servlet-mapping>
</web-app>